<div class="card text-white bg-secondary mb-3" style="text-align: center;">
    <div class="card-body">
        <h1 style="text-align: center;">¿A qué nos dedicamos?</h1>
        <h5 style="text-align: center;">Empresa que se encarga de la organizacion de productos para tener una mejor
            organizacion en la vida de los usuarios</h5>
    </div>
</div>
<table style="text-align: center;" class="table table-borderless table-dark">
    <thead>
        <tr>
            <th scope="col"></th>
            <th scope="col">Nombre</th>
            <th scope="col">Ocupación</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row"><img src="https://i.ibb.co/m8XYdJj/Andres.jpg" alt=""></th>
            <td>Cortéz, Marco Andrés</td>
            <td>Estudiante Licenciatura en Ciencias de la Computación. UNSJ Facultad de Ciencias Exactas Físicas y
                Naturales</td>
        </tr>
       
    </tbody>
</table>